h1{
    text-align: center;
}
.container-style{
background-color: rgb(250, 250, 154);
color: black;
font-size: 1.4em;
text-align: center;
font-weight: 600;
margin-top: 15px;
margin-bottom: 15px;
height: 60px;
}
/* .col-style{
    border: 1px solid blueviolet;
} */
.row-style{
    margin-bottom: 30px;
    ;
}
.btn-style{
    cursor: pointer;
    font-size: 1.5em;
    width: 100%;
}
/* body{
    background-color: rgb(75, 10, 64);
} */