body{
    margin: 2.0em 4em;
}
h1{
    text-align: center;
    
}
h3{
    font-family: 'Crete Round', serif;
}
img{
    display: block;
    margin: 0 auto;
}
.img-catalogo{
    display: inline;
    line-height: -1em;
    }

  p{
font-size: 1.2em;
text-align: center;
line-height: 0.2em;
font-family: 'Crete Round', serif;
margin: 20px 0px;
font-size: 1.2em;

    }
div{
   display: inline-block;
    margin:  50px;
    height: 150px;
    width: 250px;
}
.tenis-gratis{
    font-family: 'Crete Round', serif;
    color: blue;
}