*{
    margin: 0px;
    padding: 0px;
}
.menu-subelementos {
    background-color: rgb(255, 201, 150);
    margin: 40px 0px;
}
ul {
    list-style: none;
    text-align: right;
    
}
li {
    display: inline-block;
    padding: 20px;
    position: relative;
}
.menu-subelementos a {
    text-decoration:none;
    color: black;
    display: block;
    font-family:initial;
    font-size: 14px;
    margin: 0px 16px;
    font-weight: bold;
}
/* .sub-items {
    display: none;
    position: absolute;
    color: black;
    top: 200%;
    background-color: blueviolet;
} */

li:hover .children{
    display: block;
    position: absolute;
    width: 101px;
}
.children li{
    display: block;
    overflow: hidden;
    border-bottom: 1px solid rgb(241, 185, 131);
    background-color:rgb(255, 201, 150);
    text-align:left;
    
}
li .children{
display: none;
position: absolute;
top: 101%;

} 
