h1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.campo{
margin: 1em;
height: 2em;
width: 20em;
margin-left: 1em;
border-radius: 2em;
border: none;
background-color: black;
color: bisque;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   margin-right: 4em;
   padding: 2em;
}

 .contenedor{
    
    margin: 0em 45em 0em 27em;
    padding: 2em;
 
} 
.enviar{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    background-color: black;
    color: aliceblue;
    border: none;
    border-radius: 1em;
    width: 8em;
    height: 2em;
    margin: 2em 5em;
    font-size: 1em;
}

